#cars-search-module div.cars-search-cars{
    width: 100%;
    position: relative;
    height: 350px;
}

#cars-search-module > div.cars-search-cars > form{
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
}

#cars-search-module > div.cars-search-cars > form .model-list{
    overflow: hidden;
    overflow-y: scroll;
    position: relative;
    max-height: 240px;
}

#cars-search-module > div.cars-search-cars > form .engine-list{
    overflow: hidden;
    overflow-y: scroll;
    position: relative;
    max-height: 200px;
}

.model-list ul{
    text-align: left;
}

.model-list ul li a{
    color: #fff;
    text-decoration: none;
}

.model-list ul li a:hover{
    color: #fff;
    text-decoration: none;
}

.engine-list ul{
    text-align: left;
}

.engine-list ul li a{
    color: #fff;
    text-decoration: none;
}

.engine-list ul li a:hover{
    color: #fff;
    text-decoration: none;
}