body{
    background-color: #333;
    text-align: center;
    color: white;
}

#InitialLoading{
    text-align: center;
}

#initialSpinner{
    position:absolute;
    left:50%;
    top:50%;
}

form{
    width:400px;
    background-color: rgb(255, 136, 0);
    color: white;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
    padding: 10px 40px; 
}

.login-block{
    margin: 0 auto;
    width:400px;
    border-radius: .5em;
    background-color: black;
}

.login-block img{
    padding:10%;
    max-width: 100%;
}